body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #d32f2f;
  margin-bottom: 1rem;
}

#carSearchForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 400px;
  border: 2px solid #1976d2;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f5f5f5;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#carSearchForm label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1976d2;
}

#carSearchForm select,
#carSearchForm button {
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #1976d2; 
  background-color: #ffffff; 
  color: #333333; 
}

#carSearchForm button {
  background-color: #1976d2; 
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  margin-top: 10px; Added margin for spacing from the last select
}

#carSearchForm button:hover {
  background-color: #1565c0;
}
