#carSearchForm {
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#carSearchForm label {
  display: block;
  margin-bottom: 5px;
}

#carSearchForm select,
#carSearchForm button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
a #carSearchForm button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#carSearchForm button:hover {
  background-color: #0056b3;
}
